"*":
  "asciidoc-preview":
    sectionNumbering: "always-enabled"
    skipFrontMatter: false
  "atom-beautify":
    general:
      _analyticsUserId: "5b8ce83f-b27f-428e-a733-1ef1428efd4f"
    yaml:
      beautify_on_save: true
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      autoVisibility: true
      useExperimentalUi: true
    use: {}
  "atom-package-deps":
    ignored: [
      "api-workbench"
    ]
  "city-lights-ui": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.js.jsx": [
        "js"
        "jsx"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "ide-flowtype"
    ]
    packagesWithKeymapsDisabled: [
      "refactor"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
    titleBar: "custom"
    useTreeSitterParsers: true
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "c8d5479f-4217-913a-4aab-8e31a0b8f7ac"
  "hey-pane":
    expandedWidth: 80
  "ide-flowtype":
    tryFlowBin: true
  "language-babel":
    emmetCSSAutocomplete: true
  "linter-ui-default":
    panelHeight: 359
  "markdown-preview": {}
  nuclide:
    installRecommendedPackages: true
    "nuclide-diagnostics-ui":
      showDiagnosticTraces: true
    "nuclide-flow":
      canUseFlowBin: true
      enablePushDiagnostics: true
      enableReferencesHighlight: true
      warnOnNotInstalled: false
    "nuclide-health":
      toolbarJewel: "None"
    "nuclide-home":
      showHome: false
  "one-dark-ui":
    fontSize: 11
    tabSizing: "Minimum"
  "one-light-ui":
    tabSizing: "Minimum"
  "package-sync":
    createOnChange: true
  pigments:
    autocompleteSuggestionsFromValue: true
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    mergeColorDuplicates: true
    sortPaletteColors: "by name"
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierOptions: {}
  "pristine-ui": {}
  "tool-bar":
    visible: false
  welcome:
    showOnStartup: false
".asciidoc.source":
  editor:
    softWrap: true
