packages: [
  "api-workbench"
  "asciidoc-image-helper"
  "asciidoc-preview"
  "atom-beautify"
  "atom-clock"
  "atom-ide-ui"
  "autocomplete-asciidoc"
  "bezier-curve-editor"
  "busy-signal"
  "change-case"
  "chester-atom-syntax"
  "chestnut-light-atom-syntax"
  "city-lights-icons"
  "city-lights-syntax"
  "city-lights-ui"
  "color-picker"
  "dash-ui"
  "editorconfig"
  "emmet"
  "file-icons"
  "Hydrogen"
  "ide-css"
  "ide-docker"
  "ide-flowtype"
  "ide-json"
  "ide-yaml"
  "intentions"
  "language-asciidoc"
  "language-babel"
  "language-graphql"
  "language-pug"
  "language-vue"
  "lcov-info"
  "linter-docker"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-stylelint"
  "linter-ui-default"
  "merge-conflicts"
  "minimap-pigments"
  "package-sync"
  "pigments"
  "prettier-atom"
  "pristine-ui"
  "project-manager"
  "pure-syntax"
  "set-syntax"
  "sort-lines"
  "spacemacsdark-syntax"
  "table-editor"
  "textmate-tomorrow-night-blue-syntax"
  "tomorrow-night-blue-syntax"
  "tool-bar"
]
