[
  {
    title: "Dcep Ui"
    paths: [
      "/Users/rwa/Projects/lh/workspace/dcep-ui"
    ]
  }
  {
    title: "Kosa Commons"
    paths: [
      "/Users/rwa/Projects/lh/workspace/kosa-commons"
    ]
  }
  {
    title: "Parts Catalog"
    paths: [
      "/Users/rwa/Projects/lh/DCEP/parts-catalog"
    ]
  }
  {
    title: "DCEP API"
    group: "DCEP"
    paths: [
      "/Users/rwa/Projects/lh/DCEP/rest-api"
    ]
  }
  {
    title: "Book Viewer"
    paths: [
      "/Users/rwa/Developer/book-viewer"
    ]
  }
  {
    title: "Hotel"
    group: "private"
    paths: [
      "/Users/rwa/Developer/hotel"
    ]
    icon: "icon-home"
  }
  {
    title: "Hotel Firebase"
    group: "private"
    paths: [
      "/Users/rwa/Developer/hotel-firebase"
    ]
  }
]
